################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/csfinalproject/v16/ipch/AutoPCH/a4e3ddf6474d0c0b
